<a href="https://colab.research.google.com/github/flapinski/DBII/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [29]:
data = np.array([2369, 3760, 4692, 4871, 5659, 1821, 1074, 7115, 1620, 2428, 3943, 4750, 6975, 4981, 9208])
df = pd.DataFrame({'key': data})
df['hkey'] = np.mod(data, 32)

bit = []
for i in range(len(df['hkey'])):
  bit.append(bin(df['hkey'][i]))

df['bit'] = bit

df

     key  hkey      bit
0   2369     1      0b1
1   3760    16  0b10000
2   4692    20  0b10100
3   4871     7    0b111
4   5659    27  0b11011
5   1821    29  0b11101
6   1074    18  0b10010
7   7115    11   0b1011
8   1620    20  0b10100
9   2428    28  0b11100
10  3943     7    0b111
11  4750    14   0b1110
12  6975    31  0b11111
13  4981    21  0b10101
14  9208    24  0b11000